@model Product
@inject IReadImage ReadImage


<head>
</head>
<body>
    <div>
        @Model.Title
    </div>
    <div>
        @Model.PublishedDate
    </div>
    <div>
        @Model.Price
    </div>
    <div>
        @Model.ShortDescription
    </div>
    <div>
        @if(Model.Photo1==null)
        {
            <img src="~/DefaultImage.png" class="defaultImage" />
        }
        else
        {
            <img src="@ReadImage.ByteToImage(Model.Photo1)" class="img-thumbnail"/>
        }

    </div>

    <a asp-action="AddToCart" asp-controller="Home" asp-route-id=@Model.ProductKey asp-route-state=@Model.ProductState>
        <input type="button" value="Add To Cart" />
    </a>
    <a asp-action="ShowDetails" asp-controller="Home" asp-route-id="@Model.ProductKey">
        <input type="button" value="Show Details" />
    </a>


</body>
