
@model Product
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
</head>
<body>
    <div>
        @Model.Title
    </div>
    <div>
        @Model.PublishedDate
    </div>
    <div>
        @Model.Price
    </div>
    <div>
        @Model.ShortDescription
    </div>
    @*<div>
            @Model.Photo1
        </div>*@

    @*<@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id= Model.ProductKey, state=Model.ProductState})/>
        <@Html.ActionLink("Show ", "AddToCart", "ShoppingCart", new { id= Model.ProductKey, state=Model.ProductState})/>*@

    <a asp-action="AddToCart" asp-controller="Home" asp-route-id=@Model.ProductKey asp-route-state=@Model.ProductState>
        <input type="button" value="Add To Cart" />
    </a>
    <a asp-action="ShowDetails" asp-controller="Home" asp-route-id="@Model.ProductKey">
        <input type="button" value="Show Details" />
    </a>


</body>
